/*
 * File style.css
 * Contains the styling for the molsimilarity plugin.
 *
 */
.que.molsimilarity iframe {
    width: 50%;
    height: 550px;
    border: none;
    overflow: hidden;
    position: center;
}

.que.molsimilarity label {
    display: inline-flex;
}

.que.molsimilarity #fitem_id_answersinstruct + div {
    text-align: center;
}
